@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
*

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;                             /*Font type*/
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;                                              /*Font vertical height*/
    background: #060111;                                          /*Background color*/
}

ul {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30рх;                                                      /*Gap size*/
}

ul li {
    position: relative;
    list-style: none;
}

ul li a {
    position: relative;
    font-size: 1.2em;                                               /*Font size*/
    text-decoration: none;
    line-height: 1.2em;                                             /*Letter height size*/
    letter-spacing: 2px;                                            /*Letter space size*/
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 0.5px rgb(255, 255, 255);
}

ul li a::before {
    content: attr(data-text);
    position: absolute;
    color: var(--clr);
    width: 0;
    overflow: hidden;
    transition: 0.4s;                                               /*Speed animation border*/
    border-right: 1.5px solid var(--clr);                           /*Border size*/
    -webkit-text-stroke: 0.5px var(--clr);                          /*Text-stroke size*/
}

ul li a:hover::before {
    width: 105%;                                                    /*Stroke range adjustments*/
    filter: drop-shadow(0 0 25px)var(--clr);                        /*Shadow filter effect*/
    filter: blur(0.5px);                                            /*Blur filter effect*/
}